---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sara Brown" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Thanks for stopping by. Welcome to my portfolio and imaginary."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<!--<h2 class="section-title">Background</h2>-->
				<div class="content">
					<p>
						The base of my work is design and creativity, along with communication and persuasion. 
						I'm a person driven by an inherent curiosity who is interested in where the physical and digital worlds meet and 
						how real experiences inform and bring digital spaces to life. My work and academic experiences have allowed me to understand 
						design and communication not just as a goal to reach, but as a tool to create positive change.
					</p>
				</div>
			</section>

			<section>
				<!--<h2 class="section-title">Background</h2>-->
				<div class="content">
					<p>
						Commitment, creativity, and effective communication are some of my key strengths. 
						As a young individual, I am eager to grow as a professional and give my best in every project, 
						crafting meaningful user experiences aligned with business objectives.
					</p>
	
				</div>
			</section>
			
			<section>
				<!--<h2 class="section-title">Education</h2>-->
				<div class="content">
					<p><p>
						My roots have greatly influenced the person I have become today. 
						The sea has been my safe space since I was very young, and the forest a place to escape to.
						A great source of inspiration for me has always been the way humans and nature relate to each other.
						I especially like to surround myself with simple things and nice people.
					</p></p>
				</div>
			</section>
			<section>
				<!--<h2 class="section-title">Skills</h2>-->
				<div class="content">
					<p>	Since childhood, I have been a good listener and observer.
						I have always been interested in my surroundings, and so I want my work to be beneficial to people, 
						both functionally and emotionally. My dream is to turn my passion into work, because
						I strongly believe that every work of passion speaks louder.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
