---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sara Ribot" description="About Sara Ribot">
    <Hero
				title="About me"
				tagline="Thanks for stopping by. Welcome to my portfolio and imaginary."
			>
		</Hero>

    <div class="mt-12 pt-12 ml-6 mr-12 px-8">
        <div class="flex flex-col items-center md:flex-row">
          <div class="w-9/12 md:w-11/12 float-right ml-auto mr-4">
            <img class="rounded-lg" src="/public/assets/about01.png" alt="" />
          </div>

          <div class="w-full mt-4 ml-6 text-lg">
            <p>
              The base of my work is design and communication, along with creativity and
              persuasion in the new digital age. My work and academic experiences have
              allowed me to understand design and communication not just as a
              goal to reach, but as a tool to create new and revolutionary
              experiences, as well as positive change. I'm a person driven by
              curiosity and desire for improvement, who is interested in where the physical and
              digital worlds meet and how real experiences inform and bring
              digital spaces to life.
            </p>
          </div>
        </div>

        <div class="flex flex-col items-center md:flex-row my-12">
          <div class="w-9/12 md:w-11/12 md:order-last">
            <img class="rounded-lg ml-4" src="/public/assets/about02.png" alt="" />
          </div>

          <div class="w-full md:order-first mt-4 ml-6 text-lg">
            <p>
              My roots have greatly influenced the person I have become today.
              The sea has been my safe space since I was very young, and the
              forest a place to escape to. A great source of inspiration for me
              has always been the way humans and nature relate to each other. I
              especially like to surround myself with simple things and nice
              people.
            </p>
          </div>
        </div>

        <div class="flex flex-col items-center md:flex-row">
          <div class="w-9/12 md:w-11/12 float-left mr-auto">
            <img class="rounded-lg" src="/public/assets/about03.png" alt="" />
          </div>
        
          <div class="w-full mt-4 text-lg ml-6 mr-6">
            <p class="mr-6">
              Since childhood, I have been a good listener and communicator. I have
              always been interested in my surroundings, and so I want my work
              to be beneficial to people, both functionally and emotionally. My
              dream is to turn my passion into work, because I strongly believe
              that every work of passion speaks louder.
            </p>
          </div>
        </div>        
      </div>
</BaseLayout>